.navbar{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 12px -2px black;
    
}
.links{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 21px;
}
#pic-of-me{
    width: 300px;
    
}
nav{
    background-color: lightgray;
    
}
.logo{
    margin: 5px;
}